*.js
temp*
!demo/beautify.js

# build
build/
dist/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# npm
.npm
node_modules/
*.tgz
*package-lock.json

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
*yarn.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride

# vscode
.vscode/*
*.code-workspace
.history/
